<!-- right column -->
<div id="rh-col">
  <div id='guiHolder'>
    <p><input type='text' id='keyInput' onkeyup='nimda.getTheKeys(this)' /></p>
    <div id='keyListHolder'></div>
  </div>
</div>
<!-- end of right column -->