
<!-- right column -->

  <div id='guiHolder'>
    <p><input type='text' id='keyInput' onkeyup='nimda.getTheKeys(this)' /></p>
    <div id='keyListHolder'></div>
  </div>
  <div id='commandLineHolder'>
    <div id="commandHolder">Type in your commands...</div>
  </div>
<!-- end of right column -->
