/* Layout Stylesheet */

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}

ul { list-style-position: inside; }
ol { list-style-position: outside; }

body{
 background: #808080;
 color: #BBBBBB;
 font: 80%/175% Verdana,Arial,Helvetica,Tahoma,sans-serif;
 font-size: 1.6em;
 line-height: 1.7;
 }


form, input, textarea {
    margin: 0.2em 0 1em;
    padding: 5px;
    font-size: 110%;
}

a {
    color: #A6C2DB;
    text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}


#login_form_holder {
    margin: 0 auto;
    text-align: left;
    width: 440px;

}

input[type="submit"] {
  display: inline-block;
  height: 34px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  position: relative;
  padding: 0;
  position: relative;
  top: 1px;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
  border: none;
  overflow: visible;
  background: #DDD;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='white',endColorstr='#E1E1E1');
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e1e1e1 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E1E1E1',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffffff 0%,#e1e1e1 100%); /* W3C */
  border-bottom: 1px solid #EBEBEB;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: subpixel-antialiased!important;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 0 13px;
}

 #wrapper {
  text-align: center;
}

strong {
    color: #DDDDDD;
}

 img {
   border: 0px;
   display: none;
}

#eye {
  margin: 2px;
  padding: 2px;
}

#lh-col{
 position: absolute;
 top: 20px;
 left: 20px;
 width: 180px;
 border: 2px solid #000000;
 background: #c0c0c0;
 color: #333333;
 margin: 0px;
 padding: 0px;
 height: 400px;
 }

#rh-col{
 margin: 15px 0px 15px 0px;
 border: 2px solid #000000;
 background: #1B1B1B;
 color: #333333;
 padding: 20px 5px 20px 5px;
 display: inline-block;
 width: 1000px;
 height: 875px;
 text-align: center;
 }

/* Presentation Stylesheet */
h4 {
 margin:0;
 padding: 5px 0;
 }

.oneKey {
  padding: 5px;
  font-size: 10pt;
  margin: 4px;
  position: relative;
  border: #fff 1px solid;
  width: 96%;

   background: #eaf4ff; /* Old browsers */
background: -moz-linear-gradient(top, #eaf4ff 2%, #eaf4ff 96%, #abb1ba 97%, #666666 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#eaf4ff), color-stop(96%,#eaf4ff), color-stop(97%,#abb1ba), color-stop(99%,#666666)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eaf4ff 2%,#eaf4ff 96%,#abb1ba 97%,#666666 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eaf4ff 2%,#eaf4ff 96%,#abb1ba 97%,#666666 99%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #eaf4ff 2%,#eaf4ff 96%,#abb1ba 97%,#666666 99%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF4FF', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #eaf4ff 2%,#eaf4ff 96%,#abb1ba 97%,#666666 99%); /* W3C */
}

#keyToolBox {
  height: 40px;
  width: 30px;
  display: none;
}

.keyName {
  height: 40px;
  /*display: inline;*/
  float: left;
}

.onMouseOverKey {
  background-color: #B5EDBC;
  border: #298885 1px solid;
}

.onMouseOverKey img {
  display: block;
  float: left;
}

#keyInput {
  height: 30px;
  width: 98%;
  border: #818991 1px solid;
  font-size: 25px;
  color: #534545;
  outline: none;
  margin: 0 auto;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;

  background: #cce5ff; /* Old browsers */
background: -moz-linear-gradient(top, #cce5ff 0%, #729bbf 84%, #cce5ff 94%, #666666 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce5ff), color-stop(84%,#729bbf), color-stop(94%,#cce5ff), color-stop(99%,#666666)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cce5ff 0%,#729bbf 84%,#cce5ff 94%,#666666 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cce5ff 0%,#729bbf 84%,#cce5ff 94%,#666666 99%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #cce5ff 0%,#729bbf 84%,#cce5ff 94%,#666666 99%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCE5FF', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #cce5ff 0%,#729bbf 84%,#cce5ff 94%,#666666 99%); /* W3C */
}

#keyListHolder {
  height: 540px;
  width: 98%;
  overflow: auto;
  background-color: #fff;
  padding: 5px;
  margin: 10px auto 0;
  border-right: 1px solid #298885;
  border-style: none solid solid;
  border-width: 0 1px 1px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  background: #eaf4ff; /* Old browsers */
background: -moz-linear-gradient(top, #eaf4ff 2%, #eaf4ff 58%, #666666 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#eaf4ff), color-stop(58%,#eaf4ff), color-stop(99%,#666666)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eaf4ff 2%,#eaf4ff 58%,#666666 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eaf4ff 2%,#eaf4ff 58%,#666666 99%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #eaf4ff 2%,#eaf4ff 58%,#666666 99%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF4FF', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #eaf4ff 2%,#eaf4ff 58%,#666666 99%); /* W3C */
}

.keyValue {
  background-color: #e6f69f;
  border: 1px solid #5b7a11;
  text-align: left;
  margin: 2px;
  padding: 5px;
  width: 80%;
}

#header {
  background-color: #0A0A0A;
  height: 100px;
  vertical-align: middle;
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top, #000000 0%, #828282 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#828282), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #000000 0%,#828282 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #000000 0%,#828282 100%,#ffffff 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #000000 0%,#828282 100%,#ffffff 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #000000 0%,#828282 100%,#ffffff 100%); /* W3C */

}

#topnav {
  margin-top: 0px;
  background-color: #0A0A0A;
  height: 50px;
  padding-left: 8px;
    text-align: left;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #828282 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#828282), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#828282 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#828282 0%,#000000 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#828282 0%,#000000 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffffff 0%,#828282 0%,#000000 100%); /* W3C */
}

#footer {
  background-color: #99ccff;
  height: 100px;
  vertical-align: middle;
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top, #000000 0%, #828282 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#828282), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #000000 0%,#828282 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #000000 0%,#828282 100%,#ffffff 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #000000 0%,#828282 100%,#ffffff 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #000000 0%,#828282 100%,#ffffff 100%); /* W3C */
}

#contentbody{
  height: 625px;
  padding-top: 15px;
}

#guiHolder{
  height: 600px;
  width: 100%;
  margin: 0 auto;
  display: none;
}

#commandLineHolder {
  border: 1px solid #5b7a11;
  height: 600px;
  width: 100%;
  float: left;
  margin: 0 auto;
  font-family: 'Courier New',Courier,monospace;
  font-size: 12px;
  overflow: auto;
  display: none;
 }

.arrow-holder {
  width: 15px;
  height: 15px;
  float: left;
}

#command {
  font-family: 'Courier New',Courier,monospace;
  width: 70%;
  font-size: 12px;
  border: 0px #fff;
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
}

.command-output{
  border: 0px;
  width: 100%;
  word-wrap: break-word;
}

.actions {
  float: right;
  border: 0px;
  padding: 2px;
 }

.cell-header{
  height: 25px;
  vertical-align:middle;

}

input {
  border: 1px #000 solid;
}
