/* Layout Stylesheet */


body{
 margin: 0px;
 padding:0;
 background: #808080;
 color: #333333;
 }

 img {
   border: 0px;
   display: none;
}

#eye {
  margin: 2px;
  padding: 2px;
}

#lh-col{
 position: absolute;
 top: 20px;
 left: 20px;
 width: 180px;
 border: 2px solid #000000;
 background: #c0c0c0;
 color: #333333;
 margin: 0px;
 padding: 0px;
 height: 400px;
 }

#rh-col{
 margin: 20px 20px 20px 220px;
 border: 2px solid #000000;
 background: #ffffff;
 color: #333333;
 padding: 20px;
 display: inline-block;
 width: 1000px;
 height: 875px;
 }

/* Presentation Stylesheet */
h4 {
 margin:0;
 padding: 5px 0;
 }

.oneKey {
  padding: 5px;
  font-size: 10pt;
  margin: 4px;
  position: relative;
  border: #fff 1px solid;
  width: 96%;
}

#keyToolBox {
  height: 40px;
  width: 30px;
  display: none;
}

.keyName {
  height: 40px;
  /*display: inline;*/
  float: left;
}

.onMouseOverKey {
  background-color: #B5EDBC;
  border: #298885 1px solid;
}

.onMouseOverKey img {
  display: block;
  float: left;
}

#keyInput {
  height: 30px;
  width: 100%;
  border: #298885 1px solid;
  font-size: 25px;
  color: #534545;
  outline: none;
}

#keyListHolder {
  height: 80%;
  width: 98%;
  overflow: auto;
  background-color: #fff;
  border: #298885 1px solid;
  padding: 5px;
}

.keyValue {
  background-color: #e6f69f;
  border: 1px solid #5b7a11;
  text-align: left;
  margin: 2px;
  padding: 5px;
  width: 80%;
}

#header {
  background-color: #99ccff;
  height: 100px;
  vertical-align: middle;

}

#topnav {
  margin-top:5px;
  background-color: #3333ff;
  height: 50px;
  vertical-align: middle;
}

#footer {
  background-color: #99ccff;
  height: 100px;
  vertical-align: middle;
}

#contentbody{
  height: 625px;
  padding-top: 15px;
}

#guiHolder{
  border: 1px solid #5b7a11;
  display: table-cell;
  height: 600px;
  width: 50%;
  float: left;
  padding: 5px;
  margin: 5px;
}

#commandLineHolder {
  border: 1px solid #5b7a11;
  display: table-cell;
  height: 600px;
  width: 45%;
  float: left;
  margin: 5px;
  padding: 5px;
  font-family: 'Courier New',Courier,monospace;
  font-size: 12px;
  overflow: auto;
 }

.arrow-holder {
  width: 15px;
  height: 15px;
  float: left;
}

#command {
  font-family: 'Courier New',Courier,monospace;
  width: 70%;
  font-size: 12px;
  border: 0px #fff;
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
}

.command-output{
  border: 0px;
  width: 100%;
  word-wrap: break-word;
}

.actions {
  float: right;
  border: 0px;
  padding: 2px;
 }

.cell-header{
  height: 25px;
  vertical-align:middle;
}

input {
  border: 1px #000 solid;
}